<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet"href=".\main\main.css">
</head>
<body>
	<header>
		<div class="container">
			<div class="heading clearfix">
			<nav>
			<ul class="menu">
				<li>
					<a href="#">Главная</a>
				</li>
				<li>
					<a href="#">О нас</a>
				</li>
				<li>
					<a href="reg.html">Регистрация</a>
				</li>
				<li>
					<a href="#">Наши Работы</a>
				</li>
				<li>
					<a href="#">Контакты</a>
				</li>
			</ul>
		</div>
			<div class="titles">
				<div class="titles_first">
					Подобрать Автомобиль
				<h1>Гарантия качества и обслуживания</h1>
				</div>
				<a class="button" href="#">Отправить заявку</a>
			</div>
		</nav>
	</header>
	<section>
		<div class="container">
			<div class="title">
				<h2>
					Наши услуги
				</h2>
				<p>
					Наша команда профессиональных экспертов проведет тщательную проверку истории выбранного вами автомобиля, чтобы вы могли быть уверены в его состоянии и истории обслуживания.
				</p>
			</div>
			<div class="Services">
				<div class="Services_item">
					<img src="img/icon1.png"alt=Услуга>
					<h3>Оценка автомобиля</h3>
					<p>Профессиональная оценка вашего автомобиля Online</p>
				</div>
				<div class="Services_item">
					<img src="img/icon2.png" alt=Услуга>
					<h3>Сравнение автомобиля</h3>
					<p>Класс, качество, гарантии, расход,</p>
				</div>
				<div class="Services_item">
					<img src="img/icon3.png" alt=Услуга>
					<h3>Консультация</h3>
					<p>Как не потерять время и деньги при поиске автомобиля с пробегом?</p>
				</div>
			</div>
	</section>
	<html>
 <head>
  <style> </style>

  <h2><p><p>Каждый подержанный автомобиль имеет свою историю эксплуатации. И эта история записана на самой машине. Чтобы её прочитать и сделать необходимые выводы, нужно обладать как знаниями устройства автомобиля, так и знаниями рынка, поскольку от истории автомобиля напрямую зависит его стоимость. Покупатели ежедневно сталкиваются с автомобилями, которые были восстановлены после различных аварий и имеют скрытые неисправности в двигателе и ходовой части. Причем при покупке подержанной машины в автосалоне риск не уменьшается.                                                                                       </p></p></h2>

<div class="wrapper">
<div class="footer">
  <div id="knopka"></div>
<div id="block">
<div id="text">
<div class="footer1">
       <h1>Спрятанный футер</h1>
</div>
</div>
</div>
</div>
 </head>
 <body>
  <div id="wrapper">
  </div>
  <div id="footer">
  <div class="all-symbols">
  <a href="https://vk.com/feed"><img src="https://cdn-icons-png.flaticon.com/512/25/25684.png" class="symbol" alt="VK icon"></a>
  <a href="https://ok.ru/"><img src="https://cdn-icons-png.flaticon.com/512/48/48971.png" class="symbol" alt="OK icon"></a>
</div>
  </div>
 </body>
</html>
</body>
</html>